@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.1.0/dist/css/yakuhanjp.min.css');
@import './inter';

@import './variables/color';
@import './variables/font';
@import './variables/layout';

body {
  margin: 0;
  padding: 0;
  @include default-font-settings;
  color: $color-default;
}
